header {
	font-family: 'Ubuntu', sans-serif;
}

header {
	background-color: #D8FCA8;
}

.headline {
	display: flex;
	flex-flow: column wrap;
	padding: 70px 0;
	color: #555;
	transition: 1s;
}

.headline h1 {
	font-family: 'Berkshire Swash', cursive;
}

@media only screen and (max-width: 500px) {
	.headline h1 {
		font-size: 30px;
	}

	.headline h2 {
		font-size: 25px;
	}
}

@media only screen and (max-width: 375px) {
	.headline h1 {
		font-size: 30px;
	}

	.headline h2 {
		font-size: 25px;
	}
}