header {
	background-color: #D8FCA8;
	font-family: 'Ubuntu', sans-serif;
}

.headline {
	display: flex;
	flex-flow: column wrap;
	padding: 70px 0;
	color: #555;
	transition: 1s;
}

.headline h1 {
	font-family: 'Berkshire Swash', cursive;
}