section {
	font-family: 'Ubuntu', sans-serif;
}

.skills {
	margin: 75px auto;
}

.skills h3 {
	color: #454f37;
}

.skills-details {
	display: flex;
	flex-flow: column wrap;
}

.skills-details {
	font-weight: 700;
}

@media only screen and (max-width: 500px) {
	.skills-details h5 {
		font-size: 18px;
	}
}