.skill {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin: 15px;
	font-family: 'Berkshire Swash', cursive;
	color: #555;
}

.skill img {
	width: 100px;
	margin-right: 10px;
}

@media only screen and (max-width: 500px) {
	.skill img {
		width: 90px;
	}

	.skill h2 {
		font-size: 20px;
	}
}

@media only screen and (max-width: 375px) {
	.skill h2 {
		font-size: 16px;
	}
}