nav {
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	align-items: center;
	align-content: center;
	font-family: 'Ubuntu', sans-serif;
}

nav h2, nav h4 {
	color: #565656;
}

.color-dark {
	color: #454f37;
}

.navbar {
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #D8FCA8;
	font-weight: bold;
}

.nav-link {
	font-size: 20px;
}

.navbar-brand {
	font-family: 'Berkshire Swash', cursive;
}

.nav-item {
	margin-left: 30px;
}

@media only screen and (max-width: 500px) {
	.nav-link {
		font-size: 16px;
	}
}

@media only screen and (max-width: 375px) {
	.nav-link {
		font-size: 14px;
	}
}