section {
	font-family: 'Ubuntu', sans-serif;
}

.prof-pic {
	width: 200px;
	border-radius: 100%;
}

.about-section {
	padding: 70px 0;
	width: 50%;
	margin: auto;
}

.about-section h3 {
	margin: 30px 0;
	font-size: 30px;
}

.about-section p {
	margin: 5px 0;
	font-size: 20px;
}

@media only screen and (max-width: 500px) {
	.about-section {
		width: 65%;
	}
	.about-section h3 {
		font-size: 20px;
		font-weight: bold;
	}

	.about-section p {
		font-size: 16px;
	}
}

@media only screen and (max-width: 375px) {
	.about-section {
		width: 90%;
	}
	
	.about-section h3 {
		font-size: 20px;
		font-weight: bold;
	}

	.about-section p {
		font-size: 16px;
	}
}
